<?php
if (!isset($_SERVER['PHP_AUTH_USER'])) {
    header('WWW-Authenticate: Basic realm="Panel Administratora"');
    header('HTTP/1.0 401 Unauthorized');
    echo 'test';
    exit;
} else {
    echo "<p>Witamy ponownie {$_SERVER['PHP_AUTH_USER']}!</p>";
    echo "<p>{$_SERVER['PHP_AUTH_PW']} to twoje haslo</p>";
}